<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a href="https://github.com/b177y/koble">Koble</a>
        <span class="separator">//</span>
        <a href="{{or site.url (or siteRootUrl siteRootPath)}}">Docs</a>
      </div>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <!-- <div class="navbar-item has-dropdown is-hoverable"> -->
        <!--   <div class="navbar-link">Docs</div> -->
        <!--   <div class="navbar-dropdown is-right"> -->
        <!--       <a class="navbar-item" href="/beans-docs/0.1/">General</a> -->
        <!--       <a class="navbar-item" href="/devops/0.1/">DevOps</a> -->
        <!--       <a class="navbar-item" href="/processor/0.1/">Processor</a> -->
        <!--       <a class="navbar-item" href="/models/0.1/">Database</a> -->
        <!--   </div> -->
        <!-- </div> -->
        <!-- <div class="navbar-item has-dropdown is-hoverable"> -->
        <!--   <div class="navbar-link">GitHub Repos</div> -->
        <!--   <div class="navbar-dropdown is-right"> -->
        <!--     <a class="navbar-item" href="https://github.com/b177y/beans-processor">beans-processor</a> -->
        <!--     <a class="navbar-item" href="https://github.com/b177y/beans-collector">beans-collector</a> -->
        <!--     <a class="navbar-item" href="https://github.com/b177y/beans-db-models">beans-db-models</a> -->
        <!--     <a class="navbar-item" href="https://github.com/AngusGardnerWKC/sensors">sensors</a> -->
        <!--     <a class="navbar-item" href="https://github.com/HishamAlHarrasi/FrontEnd-Beans">FrontEnd-Beans</a> -->
        <!--   </div> -->
        </div>
      </div>
    </div>
  </nav>
</header>
